
<div class="top">

<div class="title">
<h1>予約サービス</h1>
<h3>予約した人に5分前を知らせるアプリ</h3>
<h3>使い方サインアップをします</h3>
<h3>ログインをして予約を投稿します</h3>
<h3>5分前になったら呼び出しメールを送信します。
<h1></h1>
</div>

<%= link_to '管理者はこちら', new_admin_session_path, class: "menu3" %> <br>
<%= link_to 'お客さんはこちら', new_customer_session_path , class: "menu4" %>
<style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  display: table;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
</div>
