<div class="sample">
  <%= image_tag("huna 2.gif") %>
</div>

<div class="end">
<br>
<h1>予約完了しました</h1>
<h1>5分前になったらメールを送信いたします。<h1>
<h1>しばらくお待ちください。</h1>
<br>
</div>
<style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  display: table;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
</div>

<br>
